<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: BlueGarden</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body background = "static/er.jpg"> 
<audio autoplay>
<source src="static/exists.wav" type="audio/wav">
  Your browser does not support the audio element.
</audio>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="showHome">Home</a></li>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><font color="white">BlueGarden</font></h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p><font color="white">&copy;</font> <font color="white">The University of Sydney 2016</font></p>
        </footer>
 
    </div>
</body>
 
</html>