<!DOCTYPE html>
<html lang="en">

<head>
    <title>BlueGarden Project</title>
	
 

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	
</head>


<body background = "static/home.jpg"> 
<div align="left">
<audio controls autoplay>
<source src="static/b.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
</div>
    <div align="center">
    <img src="static/bg_Fotor.jpg" width="110" height="110">
	</div>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation" class="active"><a href="showSignUp">Sign Up</a>
                    </li>
					<li role="presentation" class="active"><a href="watch">Watch Me</a>
					</li>
                </ul>
            </nav>
            <h3 class="text-muted"><font color="white">BlueGarden</font></h3>
        </div>
 
        <div class="jumbotron">
            <h1>365 days of Special offers to our valuable customers</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
			    <h4><font color="white">Services</font></h4>
                <p><font color="white">Select goods, pay online and get the goods within 24 hours.</font></p>
 
                <h4><font color="white">Online Security</font></h4>
                <p><font color="white">BlueGarden company uses best security solutions to keep your payment details in safe.</font></p>
 
                <h4><font color="white">Regulations</font></h4>
                <p><font color="white">Flexible regulations to fulfill your needs.</font></p>
            </div>
 
            <div class="col-lg-6">
                <h4><font color="white">Support</font></h4>
                <p><font color="white">24/7 support, provided by our trained team.</font></p>
 
                <h4><font color ="white">BlueGarden</font></h4>
                <p><font color="white">Australia-Sydney-New South Wales.</font></p>
 
                <h4><font color="white">Contact us</font></h4>
                <p><font color="white">Mohammed (mmoh4187@uni.sydney.edu.au)</font></p>
            </div>
        </div

        <footer class="footer">
            <p><font color="white">&copy;</font> <font color="white">The University of Sydney 2016</font> </p>
        </footer>
 
    </div>
</body>
 
</html>