<!DOCTYPE html>
<html lang="en">

<head>
    <title>BlueGarden Project</title>
	
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    
	
</head> 
<body background = "static/farm.jpg">
<div align="center">
<iframe width="854" height="480" src="https://www.youtube.com/embed/8eDKFWHVFdk" frameborder="0" style="margin:0 auto" allowfullscreen></iframe>
</div>

	<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="showHome">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><font color="white">BlueGarden</font></h3>
        </div>
<div align="center">
<img src="static/logo.png" width="110" height="110">
</div> 
        <footer class="footer">
            <p><font color="white">&copy;</font> <font color="white">The University of Sydney 2016</font> </p>
        </footer>
 
    </div>

</body>
 
</html>